.App{
  min-height: 100vh;
   background: linear-gradient(rgba(70, 70, 70, 0.5), rgba(0, 0, 0, 0.5)),
   url(3.jpg)center/cover no-repeat fixed;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(248, 171, 171);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}